@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        overflow-x: hidden;
    }

    *::selection {
        @apply text-gray-700;
        @apply bg-stone-200;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        @apply bg-stone-400;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-gray-700;
    }
}

@layer components {
    .cloud-drifting {
        animation: drift 30s linear infinite;
    }

    @keyframes drift {
        from {
            transform: translateX(-192px);
        }
        to {
            transform: translateX(100vw);
        }
    }
}

@layer utilities {
    .font-roboto-mono {
        font-family: "Roboto Mono", monospace;
    }

    .font-nanum {
        font-family: "Nanum Myeongjo", serif;
    }

    .font-cormorant {
        font-family: "Cormorant Garamond", serif;
    }
}
