@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *::selection {
        @apply bg-stone-200;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-gray-700;
    }

    body {
        overflow: overlay;
    }
}

@layer components {
}

@layer utilities {
    .font-roboto-mono {
        font-family: "Roboto Mono", monospace;
    }

    .font-nanum {
        font-family: "Nanum Myeongjo", serif;
    }

    .font-cormorant {
        font-family: "Cormorant Garamond", serif;
    }
}
